<!--
 COPYRIGHT LICENSE: This information contains sample code provided in source code form.
 You may copy, modify, and distribute these sample programs in any form without payment
 to IBM for the purposes of developing, using, marketing or distributing application
 programs conforming to the application programming interface for the operating platform
 for which the sample code is written.

 Notwithstanding anything to the contrary, IBM PROVIDES THE SAMPLE SOURCE CODE ON
 AN "AS IS" BASIS AND IBM DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING,
 BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY,
 SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND ANY WARRANTY OR
 CONDITION OF NON-INFRINGEMENT. IBM SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT,
 INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR OPERATION OF
 THE SAMPLE SOURCE CODE. IBM HAS NO OBLIGATION TO PROVIDE MAINTENANCE, SUPPORT,
 UPDATES, ENHANCEMENTS OR MODIFICATIONS TO THE SAMPLE SOURCE CODE.

 (C) Copyright IBM Corp. 2001, 2012.
 All Rights Reserved. Licensed Materials - Property of IBM.
--><server description="Sample Server for JDBC">

    <!-- Enable features -->
    <featureManager>
        <feature>jdbc-4.0</feature>
        <feature>localConnector-1.0</feature>
        <feature>servlet-3.1</feature>
    </featureManager>

    <httpEndpoint host="*" httpPort="9080" id="defaultHttpEndpoint"/>

    <application id="Employee" location="EmployeeApp.war" name="EmployeeApp" type="war"/>
    <jdbcDriver id="DB2Driver" libraryRef="DB2JCC4Lib"/>
        <library filesetRef="DB2Fileset" id="DB2JCC4Lib"/>
        <fileset dir="/work/opt/ibm/db2/V10.5/java/" id="DB2Fileset" includes="db2jcc4.jar db2jcc_license_cisuz.jar"/>


        <dataSource id="empDS" jdbcDriverRef="DB2Driver" jndiName="jdbc/empDS">
                <properties.db2.jcc databaseName="SAMPLE" password="db2inst1" portNumber="50000" serverName="localhost" user="db2inst1"/>
        </dataSource>


    <applicationMonitor updateTrigger="mbean"/>
</server>
